.body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    font-weight: bold;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background-color: hsla(0, 0%, 50%, 0.493);
}

.temp {
    display: flex;
    gap: 10px;
    align-items: center;
}

.enter {
    height: 20px;
    padding: 10px 5px;
    background-color: hsl(0, 0%, 40%);
    color: white;
    border-radius: 8px;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
}

.submit[type="submit"] {
    display: flex;
    height: 33px;
    font-weight: bold;
    padding: 20px 5px;
    border-radius: 8px;
    background-color: hsla(120, 100%, 25%, 0.6);
    color: white;
    text-shadow: 0px 0px 2px black;
    cursor: pointer;
    text-align: center;
    align-items: center;
}

.submit[type="submit"]:hover {
    background-color: hsla(120, 100%, 25%, 0.8);
}

.submit[type="submit"]:active {
    background-color: hsla(120, 100%, 25%, 1.0);
}
.far {
    display: flex;
    font-weight: bold;
    padding: 7px 5px;
    border-radius: 8px;
    background-color: hsla(120, 100%, 25%, 0.6);
    color: white;
    text-shadow: 0px 0px 2px black;
    cursor: pointer;
    justify-content: center;
    text-align: center;
    text-align: center;
    align-items: center;
}

.far:hover {
    background-color: hsla(120, 100%, 25%, 0.8);
}

.far:active {
    background-color: hsla(120, 100%, 25%, 1.0);
}

.info{
    display: flex;
    flex-direction: column;
    margin: 0;
    background: linear-gradient(180deg, 
                              hsl(210, 100%, 75%), 
                              hsl(40, 100%, 50%));
    border-radius: 12px;
    padding: 10px;
    width: 365px;
    align-items: center;
    justify-self: center;
}

.form {
    margin: 20px;
    display: flex;
    gap: 5px;
}

.name {
    font-size: 4rem;
    margin: 15px;
    font-family: monospace;
}

.temp {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 2.7rem;
}

p {
    font-weight: bold;
    font-size: 1.2rem;
    font-family:'Arial Narrow Bold', sans-serif;
    margin: 5px;
}

.emoji {
    width: 100px;
}

.error {
    color: red;
    text-shadow: 0px 0px 1px black;
    font-family: monospace;
}

.container {
    border: 2px black solid;
    margin: 10px;
    padding-bottom: 20px;
    border-radius: 20px;
    background-color: hsl(0, 0%, 30%);
}

.desc {
    font-style: italic;
}

/*
<h1 class="name">India</h1>
<h1 class="temp">69.5*c</h1>
<p class="humidity">27%</p>
<p class="windspeed">fast</p>
<p class="id">clear sky</p>
<p class="emoji">☀️</p>
<p class="error">error</p>
*/

@media (max-width: 400px) {
    .name {
        font-size: 2.5rem;
    }

    .info {
        width: auto;
        margin: 0 auto;
        max-width: calc(100% - 40px);
        padding: 0 20px;   
        box-sizing: border-box; 
    }

    .container {
        width: auto;
        margin-left: 40px;
        margin-right: 40px;
    }

    .body {
        width: auto;
    }

    .far {
        display: flex;
        font-weight: bold;
        padding: 7px 5px;
        border-radius: 8px;
        background-color: hsl(120, 100%, 25%);
        color: white;
        text-shadow: 0px 0px 2px black;
        cursor: pointer;
        justify-content: center;
        text-align: center;
        text-align: center;
        align-items: center;
        background-color: hsla(0, 0%, 50%, 0.493);
    }
    
    .far:hover {
        background-color: hsla(120, 100%, 25%, 0.8);
    }
    
    .far:active {
        background-color: hsla(120, 100%, 25%, 1.0);
    }
}

